/*  Marketika CSS, coded by shawooha https://github.com/shawooha  */

$maintextcolor: #414141;
$coolgradient: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 97.42%);
$maxfixed: 1200px;

body, div, h1, h2, h3, p {
    font-family: 'Lato', Arial, sans-serif !important;
}

body {
    color: $maintextcolor;
}

a {
    color: #000000;
}

a:hover {
    color: #FE50A6;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header {
    background-image: url('../../img/header.jpg');
    background-color: #142729;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;

    input[type=text] {
        height: 3rem;
        width: 100%;
        border: 0px;
        background: rgba(255,255,255,0.25);
        border: 0px;
        font-size: 1.1rem;
        color: #ffffff;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 4px;
        box-sizing: border-box;
    }    

    input[type=text]::placeholder {
        color: rgba(255,255,255,0.6);
    }

    input[type=submit] {
        font-size: 1.1rem;
        text-align: center;
        color: #FFFFFF;
        height: 3rem;
        border-radius: 4px;
        width: 100%;
        border: 0px;
        padding: 0px;
        background: $coolgradient;
        cursor: pointer;
    }    

}

.header-insider {
    width: 90%;
    margin: 0px auto;
    max-width: $maxfixed;
}

.header-form {
    width:100%;
    max-width: 1000px;
    margin: 0px auto;
    padding-bottom: 10%;
}

#logo {
    font-weight: 400;
    font-size: 1.5rem;
    padding-top:1rem;
}

#topmsg {
    margin: 0px auto;
    padding-top:20%;
    padding-bottom:5%;
    text-align: center;

    h1 {
        margin: 0px;
        font-size: 3rem;
        line-height: 3.3rem;    
    }
    
    p {
        margin: 1rem 0px 0px 0px;
        font-size: 1.2rem;
        line-height: 1.7rem;    
    }
}

/* grow section */
.bottomline {
    padding-bottom: 117px;
    border-bottom: 1px solid #E2E2E2;    
}

#grow {
    margin-top: 10%;

    h2 {
        margin-top: 0px;
        margin-bottom: 2rem;
        font-weight: bold;
        font-size: 2.1rem;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    p {
        margin-top: 1rem;
        font-weight: 300;
        margin-bottom: 0px;
        font-size: 1.1rem;
    }
}

.grow-insider {
    width: 90%;
    margin: 0px auto;
    max-width: $maxfixed;
}


.grow-image img {
    max-width: 556px;
    width: 100%;
}

/* Ideas section */
.ideapic {
    margin-top: 1rem;
}

.ideas-insider {
    width: 90%;
    margin: 0px auto;
    max-width: $maxfixed;
}

.idea {
    text-align: center;

    h3 {
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0px;
    }

    p {
        font-weight: 300;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0px;    
    }
}

/* Founder section */
#founder {
    margin-top: 10%;
    background: #F6FAFD;
}

.founder-insider {
    width: 80%;
    max-width: $maxfixed;
    margin: 0px auto;
}

.founder-image {
    padding-top: 2rem;
    height: 400px;
}

.founder-text {
    margin-top: 5%;
}

.founder-text h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.founder-special {
    margin-top:25px;
    font-weight: bold;
    font-size: 1.3rem;

    span {
        font-weight: normal;
        font-size: 1rem;
    }
    
}

/* Plans section */
#plans {
    margin-top: 5%;
}

.plans-inside {
    max-width: 800px;
    width: 90%;
    margin: 0px auto;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h2 + p {
        margin-top: 17px;
        margin-bottom: 0px;
        font-weight: 300;
        font-size: 1.1rem;
    }
}

.someplans {
    margin-top: 1rem;
}

.oneplan {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mainplan {
    background: #F6FAFD;    
}

.planname {
    font-weight: bold;
    font-size: 1rem;
}

.planprice {
    margin-top:1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    color: #FE4FA7;    

    span {
        font-weight: bold;
        font-size: 1rem;
        color: #414141;   
    }
    
}

.plantext {
    margin-top: 1rem;
    margin-bottom: 0px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
}

.planbutton {
    margin-top: 40px;
    width: 192px;
    height: 53px;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    color: #414141;            
}

.mainplan .planbutton {
    border: 0px;
    background: $coolgradient;
    border-radius: 4px;
    color: #fff;
}

/* Section getstarted  */

#getstarted {
    margin-top: 5%;
    padding-top:10%;
    padding-bottom: 10%;
    padding-left: 1rem;
    padding-right: 1rem;
    
    color: #fff;
    background: $coolgradient;
    text-align: center;

    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 0px;
        margin-bottom: 0px;    
    }
    
    p {
        margin-top:2rem;
        margin-bottom: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
    }
    
    button {
        margin-top: 2rem;
        width: 192px;
        height: 53px;
        border: 0px;
        background: #FFFFFF;
        border-radius: 4px;    
        box-sizing: border-box;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        color: #414141;            
    }
}

footer {
    margin-top: 5%;
    text-align: center;

    .logo {
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    nav {
        padding-top: 1.5rem;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    ul li {
        display: inline-block;
        margin-right: 2rem;
    }

    ul li:last-child {
        margin-right: 0px;
    }
}


.active {
    color: #FE50A6;
}

.icons {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 17px;

    i {
        padding-right: 16px;
    }
}

.copyrights {
    margin-top: 20px;
    margin-bottom: 93px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #464646;    
}
